<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Login</title>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

        <script type="text/javascript">

            function signup_github(){
                console.log("Signup");
                $.ajax({
                    type: "POST",
                    url: "/signup",
                    data: {"platform": "github"},
                    dataType: "html",
                    success: function(data, textStatus, request) {
                        console.log("sucess")

                        var url = request.getResponseHeader('location');
                        console.log(url);

                        console.log(request);

                        window.location.href = url;


                    }
                });
            }

            function request(){
                console.log("Request");
                $.ajax({
                    url: "/authorize",
                    type: "POST",
                    beforeSend: function(xhr){xhr.setRequestHeader('AccessToken', access_token);},
                    success: function() { alert('Success!' + authHeader); }
                });
            }

        </script>
    </head>

    <body>
    <button onclick="signup_github()">Signup</button>

        <form action="/login" method="post">
            Email: <input type="text" name="Sonata-Email"><br>

            <input type="radio" name="platform" value="github" checked> Github<br>
            <input type="radio" name="platform" value="bitbucket"> Bitbucket<br>
            <input type="radio" name="platform" value="gitlab"> GitLab

            <input type="submit" value="Login">
        </form>

        <form action="/logout" method="post">
            <input type="submit" value="Logout">
        </form>

        <button onclick="request()">Authorized request</button>
    </body>



</html>
